.example-card {
    max-width: 400px;
    margin: 2% 0 0 2%;
//    margin-right: 1%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  a{
      
    color: black;
}
//   mat-card-actions{
//     margin: 2% 
//   }
//   mat-card {
//     width: calc(100% - 70px);
//     height: calc(100% - 70px);
//   }