.example-spacer {
    flex: 1 1 auto;
  }
  
  .spacer{
      flex: 1 1 auto;
  }

  a:hover{
color: white;
// text-decoration: none;

  }
.logo{
  font-size: 50px;
  height: 50px;
  width: 60px;

}
  .addButton, .addButton:hover{
    text-decoration: none;
    margin: .5% 0 0 0;
// background-color: black ;
color: #ec407a;
    }
    .float{
      position:fixed;
      width:140px;
      height:40px;
      bottom:40px;
      right:40px;
      background-color:rgb(60, 78, 245);
      color:#FFF;
      border-radius:50px;
      text-align:center;
      box-shadow: 2px 2px 3px #999;
      z-index: 2;
    }

    .Seachbox{
      margin: 0 0 0 8%;
    }
